################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StarterKit/.vs/CSharp
/StarterKit/CSharp/.vs
/StarterKit/packages/AjaxNetProfessional.21.11.22
/.vs
