<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="ajaxNet">
			<section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>
	<ajaxNet>
		<ajaxSettings>
			<urlNamespaceMappings useAssemblyQualifiedName="false">
				<add type="MyAjaxMethods,App_Code" path="_a" />
			</urlNamespaceMappings>
			<jsonConverters>
				<add type="AjaxPro.BitmapConverter,AjaxPro.2"/>
			</jsonConverters>
			<debug enabled="false"/>
			<token enabled="false" sitePassword="password"/>
			<oldStyle>
				<includeMsPrototype/>
			</oldStyle>
		</ajaxSettings>
	</ajaxNet>
	<appSettings>
		<add key="AjaxDemoSqlServer" value="server=.\SQLEXPRESS;database=AjaxDemo;Integrated Security=yes;"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="false"/>
		<authentication mode="Forms"/>
		<roleManager defaultProvider="MyRoleProvider" enabled="true" cacheRolesInCookie="true">
			<providers>
				<clear/>
				<add name="MyRoleProvider" type="MyRoleProvider"/>
			</providers>
		</roleManager>
		<membership defaultProvider="MyMembershipProvider" userIsOnlineTimeWindow="20">
			<providers>
				<add name="MyMembershipProvider" type="MyMembershipProvider"/>
			</providers>
		</membership>
	</system.web>
	<location path="ajaximage">
		<system.web>
			<httpHandlers>
				<add verb="GET" path="*.ashx" type="AjaxPro.AjaxBitmapHttpHandler,AjaxPro.2"/>
			</httpHandlers>
		</system.web>
	</location>
	<location path="ajaxpro">
		<system.web>
			<httpHandlers>
				<add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
			</httpHandlers>
		</system.web>
	</location>
</configuration>
