<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="ajaxNet">
			<section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>
	<ajaxNet>
		<ajaxSettings>
			<urlNamespaceMappings useAssemblyQualifiedName="false">
				<add type="MyAjaxMethods,App_Code" path="_a"/>
			</urlNamespaceMappings>
			<jsonConverters>
				<add type="AjaxPro.BitmapConverter,AjaxPro.2"/>
			</jsonConverters>
			<oldStyle>
				<includeMsPrototype/>
			</oldStyle>
		</ajaxSettings>
	</ajaxNet>
	<connectionStrings>
		<add name="AjaxDemoConnectionString" connectionString="Data Source=(local);Initial Catalog=AjaxDemo;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="false" targetFramework="4.8"/>
		<authentication mode="Forms"/>
		<roleManager defaultProvider="MyRoleProvider" enabled="true" cacheRolesInCookie="true">
			<providers>
				<clear/>
				<add name="MyRoleProvider" type="MyRoleProvider"/>
			</providers>
		</roleManager>
		<membership defaultProvider="MyMembershipProvider" userIsOnlineTimeWindow="20">
			<providers>
				<add name="MyMembershipProvider" type="MyMembershipProvider"/>
			</providers>
		</membership>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<location path="ajaximage">
		<system.webServer>
			<handlers>
				<add name="AjaxProBitmaps" verb="GET" path="*.ashx" type="AjaxPro.AjaxBitmapHttpHandler,AjaxPro.2"/>
			</handlers>
		</system.webServer>
	</location>
	<location path="ajaxpro">
		<system.webServer>
			<handlers>
				<add name="AjaxPro" verb="GET,POST" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
			</handlers>
		</system.webServer>
	</location>
</configuration>